<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE web-app PUBLIC 
  "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
  "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	
	<display-name>BWHF database and web interface</display-name>
	<description>
		This webapplication is the server backend of the BWHF system.
		It also supplies a web interface to list/view/filter/sort etc. the hackers, players, games, to view statistics
		and to provide a basic administration interface. 
	</description>
	
	<servlet>
		<servlet-name>Hackers</servlet-name>
		<servlet-class>hu.belicza.andras.hackerdb.HackerDbServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Players</servlet-name>
		<servlet-class>hu.belicza.andras.hackerdb.PlayersNetworkServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Admin</servlet-name>
		<servlet-class>hu.belicza.andras.hackerdb.AdminServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Hackers</servlet-name>
		<url-pattern>/hackers</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Players</servlet-name>
		<url-pattern>/players</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Admin</servlet-name>
		<url-pattern>/admin</url-pattern>
	</servlet-mapping>
	
	<session-config>
		<session-timeout>60</session-timeout>    <!-- Session timeout in minutes. -->
	</session-config>
	
</web-app>
