<html>
<body>

<table width='100%' align=center border=0>
	<tr><td width='100%' align='center'>
		<h2>%APPLICATION_NAME%</h2>
		<table border=1>
			<tr><td>Version:<td><b>%APPLICATION_VERSION%</b>
			<tr><td>Author:<td><b>%APPLICATION_AUTHOR%</b>
			<tr><td>Battle.net account:<td><b>Dakota_Fanning@USEast</b>
		</table>
	<td align=right><a href='http://bwhf.googlecode.com/svn/trunk/donation.html'><img src='http://www.paypal.com/en_US/i/btn/btn_donateCC_LG_global.gif' border=0></a>
</table>

<p>%APPLICATION_NAME% is a free, open source project available under the <a href='http://www.gnu.org/licenses/gpl.html'>GNU General Public License v3</a>.</p>

<p>Check out the <a href='%HOME_PAGE_URL%'>%APPLICATION_NAME% home page</a> for detailed description, downloads, updates, discussion, bug reports and more.</p>

<p>%APPLICATION_NAME% is a java utility program that runs in the background and automatically checks the last replays of Starcraft for hacks. It can be used as a launcher too.</p>

<p>You can also run a check on any of your saved replays or on entire folders of replays (no BWChart required). It logs the results and if it finds a hacker in your last replay, it can bring its window to front or play an alert sound.</p>

<p><b>Pros compared to other launchers and detectors:</b>
<ul>
	<li><b>This is not a 3rd party program!</b> It does not modify Starcraft's memory and it does not interfere with Starcraft in any way so there is <b>absolutely no risk</b> of getting banned by Blizzard or any battle.net server for using it.
	<li>Since it does not modify Starcraft's memory, it does not add new bugs and does not cause Starcraft to crash.
	<li>It's a standalone program not some kind of dll or bw plugin, so you can use it ANYWHERE (iccup, normal battle.net servers, LAN w/e) with or without any launcher. BWHF Agent is a launcher itself.
	<li>You can start and close it at anytime (before or after starting Starcraft, before of after logging in to battle.net, before or during a game).
	<li>It does not belong to a specific Starcraft version therefore it works after Starcraft updates without modification.
	<li>You can repeat the scan process after game, and you can scan old replays.
	<li>You can scan recursively entire folders of replays.
	<li>Does not require Starcraft or any other programs (like BWChart) to be running or even being installed.
	<li>It's open source therefore the risk of being/containing a malware/adware/virus is minimized (if you always download it from its original home page).
</ul></p>

<p><b>Cons:</b>
<ul>
	<li>Scan runs after games (it won't tell you if someone's hacking during the game).
</ul></p>

<p align=right><i>&copy; %APPLICATION_AUTHOR%, 2008</i></p>

</body>
</html>
